# Bloquear arquivos sensíveis
<FilesMatch "^(?:\.env|composer\.(json|lock))$">
  Require all denied
</FilesMatch>

# Forçar HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Proteger pastas internas
RewriteRule ^config/ - [F,L]
RewriteRule ^db/ - [F,L]

Options -Indexes